body {
  background-color: #f5f5f5;
}

* {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

p {
  text-align: start;
  margin: 10px 0;
  font-size: 15px;
  color: #70757a;
}

h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 110px;
  font-size: 15px;}

#searchBar::placeholder {
  color: grey;
}

.search-wrapper {
  text-align: center;
}

input {
  height: 40px;
  width: 960px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

input::placeholder {
  color: black;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  padding: 50px 0;
  top: 0;
  left: 0 !important;
  right: 0 !important;
  background-color:#dddcdc;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.left-side {
  height: auto;
  margin-right: 20px;
}

.right-input {
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  max-width: 80%;
  gap: 20px;
}

.firma {
  text-align: center;
}

.firma img {
  display: block; 
  margin-bottom: 10px; 
}

.firma button {
  text-align: center;
  max-width: 130px;
  overflow-wrap: break-word;
  border: none;
  background-color: inherit;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease; 
}

.firma button:hover {
  background-color: #25c389;
  color: white;
  cursor: pointer;

}

.firma img:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img {
  width: 130px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 2px;
  border: 1px solid #000;
  border-radius: 20px; 
  padding: 10px;
}

.logo {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  display: inline;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

.translate{
  transform: translateY(-100%);
}

@media screen and (max-width: 1215px) {
  input {
    max-width: 675px;
  }
}

@media screen and (max-width: 916px) {
  input {
    max-width: 440px;
  }
}

@media screen and (max-width: 620px) {

  h1 {
    font-size: 18px;
  }

  .sticky {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
  }
  .card-container {
    flex-direction: column;
    gap: 10px;
  }

  .firma img {
    width: 300px;
    height: 200px;
    border: 0.5px solid black;
  }

  .firma button {
    font-size: large;
    max-width: 300px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 400px) {
  input {
    max-width: 250px;       
  }
  h1 {
    font-size: 15px;
  }
}
