body {
  background-color: #ffd700;
  height: 1500vh;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1320px;
}

h1 {
  text-align: center;
  margin-top: 60px;
  text-overflow: hidden;
}

.input-container {
  text-align: center;
}

input {
  height: 40px;
  width: 920px;
  padding: 0 15px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

.card-container {
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  margin-top: 30px;
  max-width: 80%;
}

img {
  width: 245px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card-container h2 {
  text-align: center;
  margin-top: 5px;
}

@media screen and (max-width: 1100px) {
  input {
    max-width: 675px;
  }
}

@media screen and (max-width: 950px) {
  input {
    max-width: 440px;
  }
}

@media screen and (max-width: 620px) {
  input {
    max-width: 300px;
  }
}

a {
  color: none;
  text-decoration: none;
}
